pip install seaborn

In [ ]:
pip install statsmodels

In [5]:
# Se importan las librerias y se manda a llamar la base de datos
import pandas as pd 
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt 
df = pd.read_csv("Metro.csv")
df.head()

,FECHA,TIPO_INGRESO,LINEA_1,LINEA_2,LINEA_3,LINEA_4,LINEA_5,LINEA_6,LINEA_7,LINEA_8,LINEA_9,LINEA_A,LINEA_B,LINEA_12
0,01/01/2012,Boletos,648825.0,657120.0,466803.0,60120.0,242280.0,138525.0,138690.0,328383.0,176400.0,275370.0,472665.0,NaN
1,02/01/2012,Boletos,1532940.0,1491780.0,1168590.0,165690.0,437025.0,286620.0,433323.0,777951.0,504600.0,514455.0,965385.0,NaN
2,03/01/2012,Boletos,1398639.0,1482255.0,1143675.0,162360.0,388575.0,268770.0,432117.0,758661.0,503595.0,489090.0,887790.0,NaN
3,04/01/2012,Boletos,1414041.0,1556265.0,1181085.0,171360.0,392190.0,270795.0,443070.0,799875.0,505575.0,521760.0,964290.0,NaN
4,05/01/2012,Boletos,1407075.0,1593750.0,1200975.0,178830.0,384465.0,269055.0,447345.0,823911.0,515835.0,509055.0,988845.0,NaN

In [6]:
# df.info da informacion general acerca de las bases de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FECHA         10683 non-null  object
 1   TIPO_INGRESO  10683 non-null  object
 2   LINEA_1       10683 non-null  float64
 3   LINEA_2       10683 non-null  float64
 4   LINEA_3       10683 non-null  float64
 5   LINEA_4       10683 non-null  float64
 6   LINEA_5       10683 non-null  float64
 7   LINEA_6       10683 non-null  float64
 8   LINEA_7       10683 non-null  float64
 9   LINEA_8       10683 non-null  float64
 10  LINEA_9       10683 non-null  float64
 11  LINEA_A       10683 non-null  float64
 12  LINEA_B       10683 non-null  float64
 13  LINEA_12      9768 non-null   float64
dtypes: float64(12), object(2)
memory usage: 1.1+ MB

In [7]:
# df.describe te da un peque√±o analisis de la base de datos
df.describe()

,LINEA_1,LINEA_2,LINEA_3,LINEA_4,LINEA_5,LINEA_6,LINEA_7,LINEA_8,LINEA_9,LINEA_A,LINEA_B,LINEA_12
count,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,1.068300e+04,9.768000e+03
mean,8.010081e+05,8.987036e+05,7.675083e+05,1.065083e+05,2.473355e+05,1.679856e+05,3.785661e+05,4.579226e+05,3.408083e+05,2.700215e+05,5.302867e+05,4.040391e+05
std,6.791562e+05,7.595665e+05,6.553138e+05,9.727881e+04,2.175989e+05,1.542155e+05,3.442496e+05,3.910312e+05,2.879483e+05,2.361393e+05,4.555268e+05,6.522594e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,7.680000e+03,1.045000e+04,7.405000e+03,8.200000e+02,2.460000e+03,1.370000e+03,4.500000e+03,3.930000e+03,3.150000e+03,1.680000e+03,4.345000e+03,0.000000e+00
50%,8.609320e+05,9.979200e+05,8.280550e+05,9.410000e+04,2.477210e+05,1.571230e+05,3.697200e+05,4.937000e+05,3.711500e+05,2.712190e+05,5.616680e+05,3.046500e+04
75%,1.349878e+06,1.576770e+06,1.347036e+06,1.859980e+05,4.038975e+05,3.011625e+05,6.594575e+05,7.861900e+05,5.931330e+05,4.747890e+05,8.836635e+05,7.500490e+05
max,7.619910e+06,8.337195e+06,7.268655e+06,1.747095e+06,2.562030e+06,1.973325e+06,3.551025e+06,5.360265e+06,3.474285e+06,2.709630e+06,5.693535e+06,3.150373e+06

In [ ]:
# Ver como estan las mileage de los carros
sns.boxplot(df["mileage"]);

In [ ]:
# Como el mileage puede depender del a√±o de fabricacion de carro
plt.figure(figsize=(7,7))
sns.scatterplot(x="year",y="mileage",data=df,hue="transmission")
plt.title("Year vs Mileage")
plt.figure();

In [ ]:
# Mileage segun tipo de transmission y el fueltype
plt.figure(figsize=(7,7))
sns.catplot(x="transmission",y="mileage",hue="fuelType",data=df,kind="bar")
plt.title("Mielages en base al fueltype")
plt.figure();

In [8]:
model=sm.OLS(y_train,x_train)
model= model.fit()

NameError: name 'y_train' is not defined