In [2]:
# Se importan las librerias y se manda a llamar la base de datos
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
df = pd.read_csv("BACHOCO_Data.csv")
df.head()

     Date  Price   Open   High    Low   Vol. Change %
0  Jan 21  69.28  74.48  74.92  68.50  3.37M   -7.44%
1  Dec 20  74.85  70.00  80.06  70.00  7.24M    6.84%
2  Nov 20  70.06  67.58  70.66  64.38  4.90M    5.48%
3  Oct 20  66.42  69.93  70.90  64.63  3.36M   -5.15%
4  Sep 20  70.03  68.43  72.30  67.24  3.76M    2.34%

In [3]:
# df.info da informacion general acerca de las bases de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      49 non-null     object
 1   Price     49 non-null     float64
 2   Open      49 non-null     float64
 3   High      49 non-null     float64
 4   Low       49 non-null     float64
 5   Vol.      49 non-null     object
 6   Change %  49 non-null     object
dtypes: float64(4), object(3)
memory usage: 2.8+ KB

In [4]:
# df.describe te da un peque√±o analisis de la base de datos
df.describe()

            Price        Open        High        Low
count   49.000000   49.000000   49.000000  49.000000
mean    81.605102   82.018367   85.621020  77.375306
std     10.365095   10.152469   10.358293  10.374901
min     64.520000   65.550000   69.580000  56.980000
25%     70.900000   73.630000   75.830000  67.670000
50%     84.020000   84.570000   86.890000  79.070000
75%     91.100000   91.650000   95.000000  87.190000
max    101.530000  102.000000  103.000000  92.930000

In [14]:
# Ver como esta el precio por mes 
sns.boxplot(df["Vol."]);

/srv/conda/envs/notebook/lib/python3.7/site-packages/seaborn/_decorators.py:43: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  FutureWarning

TypeError: Horizontal orientation requires numeric `x` variable.